*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url(../fonts/fonts.css);

.big_box{
    width: 1440px;
    margin: 0px auto;

    header{
        .box{
            width: 1440px;
            height: 700px;
            background-image: url(../images/Background.png);
            .text{
                width: 942px;
                height: 24px;
                margin: 0px auto;
                display: flex;
                justify-content: space-between;
                .text_1{
                    margin-top: 46px;
                    width: 155px;
                    height: 24px;
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 24px;
                        display: flex;
                        align-items: flex-end;
                        color: #FFFFFF;
                    }
                }
    
                .inside{
                    width: 195px;
                    display: flex;
                    margin-top: 40px;
                    .text_2{
                    width: 63px;
                    height: 36px;
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 39px;
                        color: #FFFFFF;
                    }
                }
                .text_3{
                    width: 90px;
                    height: 36px;
                    border: 2px solid #FFFFFF;
                    border-radius: 40px;
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 34px;
                        color: #FFFFFF;
                        text-align: center;
                    }
                }
                }
    
            }
            .title{
                width: 470px;
                height: 126px;
                margin: 200px auto 0px;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 52px;
                    line-height: 63px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
            .title_1{
                width: 396px;
                height: 25px;
                margin: 28px auto 0px;
                p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 24px;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;
                    color: #F7F3F2;
                }
            }
            .title_2{
                width: 225px;
                height: 40px;
                background: #FF4E50;
                border-radius: 40px;
                margin: 33px auto 0px;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 42px;
                    text-align: center;
                    word-spacing: 2px;
                    color: #FFFFFF;
                }
            }
    
        }
    }

    main{
        .box_1{
            width: 941px;
            margin: 89px auto 0px;
            .head_text{
                width: 342px;
                height: 32px;
                margin: 0px auto;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 32px;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;
                    word-spacing: 6px;
                    color: #444444;
                }
            }
            .main_inside{
                width: 940px;
                height: 400px;
                display: flex;
                justify-content: space-between;
                margin: 35px auto 0px;
                .img{
                    width: 300px;
                    height: 400px;
                    background-image: url(../images/image.png);
                    padding-left: 26px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    .img_inside{
                        width: 70px;
                        height: 20px;
                        background: #FF4E50;
                        border-radius: 40px;
                        margin-bottom: 22px;
                        p{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 23px;
                            text-align: center;
                            letter-spacing: 2px;
                            color: #FFFFFF;
                        }
                    }
                    .img_inside_1{
                        width: 250px;
                        height: 58px;
                        margin-bottom: 19px;
                        word-spacing: 3px;
                        p{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 26px;
                            display: flex;
                            align-items: flex-end;
                            color: #FFFFFF;
                        }
                    }
                    .img_inside_2{
                        width: 250px;
                        height: 57px;
                        margin-bottom: 5px;
                        p{
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 14px;
                            display: flex;
                            align-items: flex-end;
                            color: #E3E3E3;
                        }
                    }
                }
                .img_1{
                    width: 300px;
                    height: 400px;
                    background-image: url(../images/imags.png);
                    padding-left: 26px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    .img_1_inside{
                        width: 70px;
                        height: 20px;
                        background: #FF4E50;
                        border-radius: 40px;
                        margin-bottom: 29px;
                        p{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 23px;
                            text-align: center;
                            letter-spacing: 2px;
                            color: #FFFFFF;
                        }
                    }
                    .img_1_inside_1{
                        width: 250px;
                        height: 29px;
                        margin-bottom: 10px;
                        p{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            letter-spacing: 1px;
                            line-height: 14px;
                            display: flex;
                            align-items: flex-end;
                            color: #FFFFFF;
                        }
                    }
                    .img_1_inside_2{
                        width: 250px;
                        height: 57px;
                        margin-bottom: 5px;
                        p{
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 14px;
                            display: flex;
                            align-items: flex-end;
                            color: #E3E3E3;
                        }
                    }
                }
                .img_2{
                    width: 300px;
                    height: 400px;
                    background-image: url(../images/imag.png);
                    padding-left: 26px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    .img_2_inside{
                        width: 70px;
                        height: 20px;
                        background: #FF4E50;
                        border-radius: 40px;
                        margin-bottom: 22px;
                        p{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 23px;
                            text-align: center;
                            letter-spacing: 2px;
                            color: #FFFFFF;
                        }
                    }
                    .img_2_inside_1{
                        width: 250px;
                        height: 58px;
                        margin-bottom: 19px;
                        word-spacing: 3px;
                        p{
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 26px;
                            display: flex;
                            align-items: flex-end;
                            color: #FFFFFF;
                        }
                    }
                    .img_2_inside_2{
                        width: 250px;
                        height: 57px;
                        margin-bottom: 5px;
                        p{
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 14px;
                            display: flex;
                            align-items: flex-end;
                            color: #E3E3E3;
                        }
                    }
                }
            }
            .head_text_1{
                width: 491px;
                height: 32px;
                margin: 88px auto 0px;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 32px;
                    text-align: center;
                    word-spacing: 4px;
                    color: #444444;
                }
            }
            .avatar{
                width: 941px;
                height: 224px;
                display: flex;
                justify-content: space-between;
                .avatar_1{
                    width: 221px;
                    height: 224px;
                    .avatar_img_1{
                        width: 120px;
                        height: 120px;
                        margin: 36px auto 0px;
                        background-image: url(../images/Avatar.png);
                    }
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: #444444;
                        margin-top: 19px;
                        word-spacing: 4px;
                    }
                    span{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 14px;
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        color: #666666;
                        margin-top: 22px;
                    }
                }
                .avatar_2{
                    width: 221px;
                    height: 224px;
                    .avatar_img_2{
                        width: 120px;
                        height: 120px;
                        margin: 36px auto 0px;
                        background-image: url(../images/Avatar1.png);
                    }
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: #444444;
                        margin-top: 19px;
                        word-spacing: 4px;
                    }
                    span{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 14px;
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        color: #666666;
                        margin-top: 22px;
                    }
                }
                .avatar_3{
                    width: 221px;
                    height: 224px;
                    .avatar_img_3{
                        width: 120px;
                        height: 120px;
                        margin: 36px auto 0px;
                        background-image: url(../images/Avatar2.png);
                    }
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: #444444;
                        margin-top: 19px;
                        word-spacing: 4px;
                    }
                    span{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 14px;
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        color: #666666;
                        margin-top: 22px;
                    }
                }
                .avatar_4{
                    width: 221px;
                    height: 224px;
                    .avatar_img_4{
                        width: 120px;
                        height: 120px;
                        margin: 36px auto 0px;
                        background-image: url(../images/Avatar3.png);
                    }
                    p{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                        color: #444444;
                        margin-top: 19px;
                        word-spacing: 4px;
                    }
                    span{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 14px;
                        display: flex;
                        align-items: flex-end;
                        text-align: center;
                        color: #666666;
                        margin-top: 22px;
                    }
                }
            }
            .midle{
                width: 180px;
                height: 40px;
                margin: 72px auto 0px;
                background: #FFFFFF;
                border: 2px solid #FF4E50;
                border-radius: 40px;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 39px;
                    text-align: center;
                    color: #FF4E50;
                }
            }
            .midle_1{
                width: 413px;
                height: 32px;
                margin: 90px auto 0px;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 32px;
                    word-spacing: 8px;
                    text-align: center;
                    color: #444444;
                }
            }
            .midle_2{
                width: 940px;
                height: 970px;
                margin: 34px auto 0px;
                background-image: url(../images/Ideas.png);
                background-repeat: no-repeat;
            }
            .midle_3{
                width: 358px;
                height: 32px;
                margin: 89px auto 0px;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 32px;
                    text-align: center;
                    color: #444444;
                    word-spacing: 7px;
                }
            }
            .midle_4{
                width: 415px;
                height: 24px;
                margin: 53px auto 0px;
                p{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 14px;
                    text-align: center;
                    color: #666666;
                }
            }
            .midle_5{
                width: 482px;
                height: 40px;
                margin: 15px auto 0px;
                display: flex;
                .form_style{
                    width: 298px;
                    height: 40px;
                    background: #FFFFFF;
                    border: 1px solid #D4D4D4;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
                    border-radius: 3px;
                    padding-left: 13px;
                }
                input::placeholder{
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    color: #999999;
                }
            }
            .midle_6{
                width: 172px;
                height: 40px;
                background: #FF4E50;
                border-radius: 40px;
                margin-left: 10px;
                p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 42px;
                    color: #FFFFFF;
                    text-align: center;
                }
            }
        }
    }

    footer{
        .bottom{
            width: 1440px;
            height: 2px;
            margin: 100px auto 0px;
            background: #FF4E50;
        }
        .bottom_1{
            width: 1440px;
            height: 224px;
            margin: 47px auto 0px;
            display: grid;
            grid-template-columns: 250px 240px 240px 350px 31px 95px;
            grid-template-rows: 10px 10px 26px 27px 25px 26px 26px 10px;
            .bottom_1_text{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: flex-end;
                color: #FF4E50;
                grid-column-start: 2;
                grid-row-start: 1;
            }
            .bottom_1_text_1{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: flex-end;
                color: #444444;
                grid-column-start: 3;
                grid-row-start: 1;
            }
            .bottom_1_text_2{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: flex-end;
                color: #444444;
                grid-column-start: 4;
                grid-row-start: 1;
            }
            .bottom_1_text_3{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 24px;
                display: flex;
                align-items: flex-end;
                letter-spacing: 1px;
                color: #CCCCCC;
                grid-column-start: 6;
                grid-row-start: 1;
            }
            .bottom_1_text_4{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 26px;
                color: #999999;
                grid-column-start: 3;
                grid-row-start: 3;
            }
            .bottom_1_text_5{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 26px;
                color: #999999;
                grid-column-start: 3;
                grid-row-start: 4;
            }
            .bottom_1_text_6{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 26px;
                color: #999999;
                grid-column-start: 3;
                grid-row-start: 5;
            }
            .bottom_1_text_7{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 26px;
                color: #999999;
                grid-column-start: 3;
                grid-row-start: 6;
            }
            .bottom_1_text_8{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 26px;
                color: #999999;
                grid-column-start: 3;
                grid-row-start: 7;
            }
            .bottom_1_text_9{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 26px;
                color: #999999;
                grid-column-start: 3;
                grid-row-start: 8;
            }
            .bottom_1_img{
                width: 110px;
                height: 24px;
                background-image: url(../images/Bitmap.png);
                grid-column-start: 5;
                grid-row-start: 2;
            }
        } 
    }
}

